<div id="<%= dom_id composition %>">
  <p>
    <strong>Name:</strong>
    <%= composition.name %>
  </p>

  <p>
    <strong>Instruments:</strong>
    <%= composition.instruments %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= composition.description %>
  </p>
    <%= cl_image_tag composition.photo.key, alt: "AI-generated image of your composition" if composition.photo.attached? %>
  <p>
    <strong>Content:</strong>
    <%= composition.content %>
  </p>
</div>
