<p style="color: green"><%= notice %></p>

<%= render @composition %>
<%= @content %>

<div>
  <%= link_to "Edit this composition", edit_composition_path(@composition) %> |
  <%= link_to "Back to compositions", compositions_path %>

  <%= button_to "Destroy this composition", @composition, method: :delete %>
</div>
